<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="list">
    
</div>

    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js"></script>
    <script>
    const firebaseConfig = {
    apiKey: "AIzaSyApJgNnb9-1fT8mcY9byyBxAbO7xva9lRY",
    authDomain: "gerenciamento-de-estoque-9f83d.firebaseapp.com",
    databaseURL: "https://gerenciamento-de-estoque-9f83d-default-rtdb.firebaseio.com",
    projectId: "gerenciamento-de-estoque-9f83d",
    storageBucket: "gerenciamento-de-estoque-9f83d.appspot.com",
    messagingSenderId: "325691930674",
    appId: "1:325691930674:web:a76e4d091e267440d0a42b",
    measurementId: "G-W12D4PKG1X"
    };

    firebase.initializeApp(firebaseConfig)

    const auth = firebase.auth()

    const provider = new firebase.auth.GoogleAuthProvider()

    const db = firebase.firestore()

    auth.signInWithPopup(provider)

    

    
    </script>
</body>
</html>